<hr>
<h3>OUR FEATURES</h3>
<hr>
<mat-grid-list cols="3" rowHeight="3:2">
  <mat-grid-tile>
    <mat-card class="w-75 center">
      <img mat-card-lg-image class="mx-auto p-2" src="assets/img/maths(1).gif" alt="">
      <mat-card-title>
        <h1 class="fs-4">Calculate</h1>
      </mat-card-title>
      <mat-card-content>
        Easily calculate the amount of food for your animals
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="w-75 center">
      <img mat-card-lg-image class="p-3 mx-auto p-2" src="assets/img/find-my-friend.png" alt="">
      <mat-card-title>
        <h1 class="fs-4">Find a doctor</h1>
      </mat-card-title>
      <mat-card-content>
        we will help you to find a vetinary doctor in case of an animals needs
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="w-75 center">
      <img mat-card-lg-image class="p-1 mx-auto p-2" src="assets/img/monitor.gif" alt="">
      <mat-card-title>
        <h1 class="fs-4 ">Monitor</h1>
      </mat-card-title>
      <mat-card-content>
        enable you to monitor your farm records and keep trak your animal performance
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>