<hr>
  <div class="hstack gap-3">

    <mat-card class="p-2 w-25 p-3">

      <mat-card-content>
        <img mat-card-lg-image src="assets/img/global.gif" alt="">
        <br>
        <h1 class="fs-4">About US</h1>
        <p>SMG is a web based livestock management system that help farmerms and owners to keep track of thier farm
          records and maintaine the numbers of animals and food quantity </p>

      </mat-card-content>
    </mat-card>
    <mat-card class="p-2 w-25 p-3">

      <mat-card-content>
        <img mat-card-lg-image src="assets/img/decision-making.gif" alt="">
        <br>
        <h1 class="fs-4">Vision</h1>
        <p> solve the problems facing farmers and livestock owners by providing
          a website that manages their livestock. This website is directed to use locally and globally.
          The website will be used by farmers and livestock owners. </p>

      </mat-card-content>
    </mat-card>

    <mat-card class="p-2 w-25 p-3">

      <mat-card-content>
        <img mat-card-lg-image src="assets/img/cyber-bullying.gif" alt="">
        <br>
        <h1 class="fs-4">Mission</h1>
        <p>our main objective is making the process of tracking
          and management of livestock automated form animal birth until it sold in the market</p>

      </mat-card-content>
    </mat-card>


    <mat-card class="p-2 w-25 p-3">

      <mat-card-content>
        <img mat-card-lg-image src="assets/img/social-care.gif" alt="">
        <br>
        <h1 class="fs-4">Value</h1>
        <p>Forge lasting craftsmanship through an innovative, curious, and humble mindset, challenging norms while embracing the journey with underdog determination.</p>


      </mat-card-content>
    </mat-card>
  </div>
  <hr>